@import "bootstrap";

body {
  margin-top: 2em;
}

.hero-unit {
  background: image-url('pinky.jpg') no-repeat;
  background-color: #ccc;
  background-position: 250px -250px;
}

.admin-link {
  display: none;
}
