@import "bootstrap";
@import "bootstrap-responsive";

body {
  margin-top: 2em;
}

.hero-unit {
  background: image-url('pinky.jpg') no-repeat;
  background-color: #ccc;
  background-position: 100% 6%;
  background-size: 40%;
  @media (min-width: 1200px) {
    background-position: 100% 6%;
    background-size: 35%;
  }
  @media (min-width: 768px) and (max-width: 979px) {
    background-position: 350px -30px;
    background-size: 55%;
  }
  @media (max-width: 767px) {
    background-position: right 10px;
    background-size: 198px 366px;
  }
  h1 span, p span {
    background-color: transparentize(#ccc, 0.5);
  }
}

.admin-link {
  display: none;
}
